.container
  .profile
    .profile-img
      = image_tag 'Oval.jpg'
    .profile-nickname
      %p= @profile.nickname
    .profile-introduction
      %p= @profile.introduction
    = link_to 'Edit', edit_profile_path