.container
  .comment
    = form_with(model: @comment, url: board_task_comments_path(board_id: @comment.task.board.id, task_id: @comment.task.id),local: true) do |f|
      %div.comment-text
        = f.label :content, 'New Comment', class: 'comment-content'
      %div
        = f.text_area :content
      .comment-submit
        = f.submit 'Submit'