.container
  .comment
    = form_with(model: @comment, url: new_board_task_comment_path(@comment.task), local: true) do |f|
      %div.comment-text
        = f.label :content, 'New Comment', class: 'comment-content'
      %div
        = f.text_area :content
      .comment-submit
        = f.submit 'Submit'