.card {
  background-color: #F4F4F4;
  border-radius: 10px;
  padding: 25px 25px;
  margin: 30px;

  img {
    margin-top: 36px;
  }

  .card-flexbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    h3 {
      margin: 0;
      margin-top: 32px;
    }

    .edit-btn {
      margin: 0;
      margin-bottom: 36px;
      margin-top: 39px;
    }

  }


  p {
    margin: 0;
    margin-top: 10px;
  }
}

.new-card {
  margin: 30px;
  padding: 25px 25px;
  border: 1px dashed rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  height: 100px;
  line-height: 65px;
  text-align: center;
}

input[type=submit] {
  position: relative;
  margin-top: 20px;
  bottom: 5px;
  left: 30px;
  width: 80%;
  height: 40px;
  background: #F8BD1C;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}



