.card {
  background-color: #F4F4F4;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 30px;
  font-size: 14px;
  line-height: 19px;
  color: #000000;

  .eyecatch-img {
    img {
      object-fit: cover;
      width: 100%;
      margin-bottom: 27px;
    }
  }

  .user-info {
    display: flex;
    margin-top: 36px;
    margin-bottom: 10px;
    img {
      margin-right: 10px;
      object-fit: contain;
      width: 30px;
    }

    .display-name {
      p {
        padding-left: 20px;
      }
    }

  }

  .date-font {
    p {
      color:#949191;
      font-size: 15px;
    }
  }


  .card-flexbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    h3 {
      margin: 0;
      margin-top: 32px;
    }

    .edit-btn {
      margin: 0;
      margin-bottom: 36px;
      margin-top: 39px;
    }

  }


  p {
    margin: 0;
    margin-top: 30px;
  }
}

.new-card {
  margin: 30px;
  margin-top: 32px;
  padding: 25px 25px;
  border: 1px dashed rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  height: 100px;
  line-height: 65px;
  text-align: center;
}

input[type=submit] {
  position: relative;
  margin-top: 20px;
  bottom: 5px;
  left: 30px;
  width: 80%;
  height: 40px;
  background: #F8BD1C;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}



