.dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-weight: normal;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  padding: 5px;


  &.mini {
    min-width: 100px;
  }
}

.dropdown-content a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 10px;
}

.actions {
  text-align: center;
  .btn-primary {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 90%;
    height: 40px;
    background: #F8BD1C;
    border-radius: 4px;
    color: white;
    font-weight: bold;
  }
}

.title-text {
  font-size: 26px;
  font-weight: 800;
  line-height: 36px;
  // margin: 31px 30px 35px 30px;
  margin: 30px auto;
  margin-left: 31px;
}

.link-text {
  display: block;
  padding-left: 31px;
  padding-top: 5px;
}