.comment {
  .comment-text {
    margin-top: 33px;
    margin-bottom: 33px;
    .comment-content {
      font-family: Avenir;
      font-style: normal;
      font-weight: 800;
      font-size: 26px;
      line-height: 36px;
      color: #000000;
    }
  }
  .comment-submit {
    margin-top: 100px;
  }
}