.title-font {
  margin-top: 10px;
  font-size: 26px;
  color: #000000;
  line-height: 36px;
  font-weight: 800;
  font-family: Avenir;
  padding-top: 20px;
}

.submit-btn {
  position: absolute;
  width: 90%;
  height: 40px;
  background: #F8BD1C;
  border-radius: 4px;
  border: none;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 8px;
  bottom: 32px;
}

.link-form {
  color: #000000;
  text-decoration: none;
  display: block;
  margin-top: 30px;
  margin-left: 5px;
}

.link-form2 {
  margin-top: 5px;
}
