input,select {

  &.text {
    width: 80%;
    border: 1px solid #EBEBEB;
    // margin: 8px 0px;
    // padding: 16px 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0 auto;
    margin-left: 31px;
    margin-bottom: 20px;
  }
}

label {
  font-size: 12px;
  margin-left: 31px;
}


textarea {
  width: 80%;
  // margin: 8px 0px;
  // padding: 8px 8px;
  min-height: 440px;
  resize: vertical;
  border: 1px solid #EBEBEB;
  margin-left: 31px;

  p {
    text-align: center;
  }
}

.name-text {
  margin-top: 33px;
  margin-bottom: 8px;
  label {
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 25px;

  }
}


