.profile {
  padding: 31px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 30px;

  .profile-img {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    img {
      object-fit: cover;
      width: 100px;
      height: 100px;
    }

    a {
      padding-top: 70px;
    }
  }

  .profile-nickname {
    margin-bottom: 60px;
    p {
      font-size: 30px;
      font-weight: bold;
    }
  }

  .profile-introduction {
    margin-bottom: 100px;
    p {
      font-size: 15px;
    }
  }

  a {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
  }

}