.text-box {
  width: 90%;
  height: 40px; 
  background: #F4F4F4;
  border-radius: 10px;
  border: none;
}

.text-box2 {
  margin-bottom: 30px;
}

.text-box-font {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
  margin-top: 33px;
  padding: 7px;
}
